.content {
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73));
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}