.header {
    display: flex;
    align-items: center;
    height: 64px;
    background-color: #032541;
}
.contentHeader {
    width: 100%;
    display: flex;
}
.listContentHeader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin: 0 90px;
}
.headerLeft_list_img {
    width: 154px;
}
.headerLeft, .headerRight{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}
.headerLeft_list, .headerLeft_list_movies, .headerRight_list,
.headerLeft_list_img, .headerRight_list_img, .headerRight_list_EN,
.headerRight_list_search {
    display: flex;
    align-items: center;
    margin: 0 12px;
    height: 40px;
}
.headerLeft_list {
    padding-left: 5px;
}
.headerRight_list {
    padding-right: 5px;
}
.headerRight_list_img {
    width: 23px;
    height: 23px;
    margin: 0 17px;
}
.headerRight_list_search {
    width: 29px;
    height: 29px;
}
.headerRight_list_EN {
    width: 24px;
    height: 22px;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 13px;
    margin-right: 20px;
    display: flex;
    justify-content:center;
    align-items:center;
}
.headerRight_list_EN:hover {
    cursor: pointer;
    background-color: #fff;
    color: #330033;
}
.headerLeft_list_movies {
    position: relative;
}
.list_movies {
    position: absolute;
    top: 40px;
    left: -8px;
    width: 160px;
    height: 145px;
    font-weight: normal;
    background-color: #FFFFFF;
    color: #212529;
    border-radius: 4px;
    border: 1px solid pink;
    display: none;
    z-index: 1;
}
.headerLeft_list_movies:hover .list_movies {
    display: block;
}
.headerLeft_list_movies:hover {
    cursor: pointer;
}
.list {
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    padding: 10px 0 0 20px;
    height: 26px;
}
.list:hover {
    background-color: rgba(240, 232, 234, 0.985);
}